<a href="https://colab.research.google.com/github/LeonardoMBastos/Grupo_1/blob/main/Semana_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [11]:
#Puxar arranjo de dados no np -
#Usecols é para definir dados extraídos:(1º, último+1, intervalo de números a ser extraído)
dado = np.loadtxt('apples_ts.csv', delimiter=',', usecols=np.arange(1,88,1))

In [7]:
import numpy as np

# cria uma lista
lista = [1, 2, 3, 4, 5]

# transforma a lista em um array Numpy
array = np.array(lista)

print("Lista: ", lista)
print("Array: ", array)

Lista:  [1, 2, 3, 4, 5]
Array:  [1 2 3 4 5]

In [12]:
dado.t

AttributeError: 'numpy.ndarray' object has no attribute 't'